{% extends "layout.php.twig" %}

{% block body %}
    <div class="container">
        <h1>Busca por Clientes</h1>

        <form id="search-form">
            <div class="form-group">
                <input type="text" class="form-control" name="customer-name" id="customer-name">
            </div>
            <div class="form-group">
                <button type="submit" class="btn-lg btn-primary">Pesquisar</button>
            </div>
        </form>

    <div id="result">

    </div>

{% endblock %}