{% extends "layout.php.twig" %}

{% block table %}
    {% if customers is empty %}
        <div class="alert alert-danger" role="alert">
            Não Foi encontrado nenhum cliente!
        </div>
    {% else %}
    <div class="container">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Categoria</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.categories }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}